* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

.header {
  height: auto;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/background.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 4%;
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  width: 90px;
  cursor: pointer;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 15px;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-items .cta-button {
  font-size: 15px;
  margin-right: 10px;
}


.site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navigation .site-menu>li {
  display: inline-block;
}

.site-navigation .site-menu>li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #D9B189;
  display: block;
  margin: 0;
  transition: 0.5s;
}

.site-navigation .site-menu>li:hover::after {
  width: 100%;
}

.site-navigation .site-menu>li>a {
  font-size: 15px;
  padding: 1px 5px;
  display: inline-block;
  text-decoration: none !important;
  color: #fff;
}

.site-navigation .site-menu>li>a:hover {
  color: #D9B189;
}

.site-navigation .site-menu>li.cta-button a {
  padding: 6px 20px;
  border-radius: 2px;
  background: #C38144;
  border: none solid #C38144;
}

.site-navigation .site-menu>li.cta-button a:hover {
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.site-navigation .site-menu>li.active>a {
  color: #fff;
}


.site-mobile-menu-close {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 99;
  cursor: pointer;
  top: -20px;
}

.site-mobile-menu-close>span {
  cursor: pointer;
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
}

.site-mobile-menu-close>span:before,
.site-mobile-menu-close>span:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 30px;
  background: #fff;
}

.site-mobile-menu-close>span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.site-mobile-menu-close>span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.site-mobile-menu {
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #D9B189;
  height: calc(100vh);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
}

.offcanvas-menu .site-mobile-menu {
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 5px 20px;
  display: block;
  position: relative;
  color: #fff;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #C38144;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
  color: #C38144;
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  text-align: center;
  padding-left: 20px;
  font-size: 30px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
  padding-left: 40px;
  font-size: 14px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
  font-size: 15px;
  padding-left: 60px;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .site-navbar .site-menu-toggle {
  color: #000;
}

.sticky-wrapper .site-navbar .site-logo a {
  color: #000;
}

.sticky-wrapper .site-navbar .site-menu>li>a {
  color: rgba(0, 0, 0, 0.8) !important;
}

.sticky-wrapper .site-navbar .site-menu>li>a:hover,
.sticky-wrapper .site-navbar .site-menu>li>a.active {
  color: #000 !important;
}

.sticky-wrapper.is-sticky .burger:before,
.sticky-wrapper.is-sticky .burger span,
.sticky-wrapper.is-sticky .burger:after {
  background: #000;
  -webkit-transition: .0s all ease;
  -o-transition: .0s all ease;
  transition: .0s all ease;
}

.sticky-wrapper.is-sticky .site-navbar {
  background: #000;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu>li>a {
  color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu>li>a:hover,
.sticky-wrapper.is-sticky .site-navbar .site-menu>li>a.active {
  color: #C38144 !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu>li.active a {
  color: #C38144 !important;
}

.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
}

.burger.light:before,
.burger.light span,
.burger.light:after {
  background: #fff;
}

.burger:before,
.burger span,
.burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}

.burger:before,
.burger:after {
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 4px;
}

.burger span {
  top: 15px;
}

.burger:after {
  top: 26px;
}

.burger:hover:before {
  top: 7px;
}

.burger:hover:after {
  top: 23px;
}

.burger.active span {
  opacity: 0;
}

.burger.active:before,
.burger.active:after {
  top: 40%;
}

.burger.active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
}

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
}

.burger:focus {
  outline: none;
}

.hero {
  padding: 10px 4%;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.hero .hero-text {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.hero .hero-paragraph {
  color: #fff;
  font-size: 15px;
}

.form {
  position: relative;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  z-index: 9;
  padding: 25px;
  background: #D9B189;
  font-size: 15px;
}

.form-control {
  border: none;
  border-radius: 2px;
  width: calc(100% - 12px);
  transition: width 0.5s ease;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}


.select-wrapper {
  position: relative;
  font-size: 15px;
}

.select-selected {
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

.select-items {
  position: absolute;
  background-color: #fff;
  border: none;
  border-top: none;
  border-radius: 2px;
  z-index: 999;
  width: 100%;
  display: none;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: 0;
}

.select-items.select-show {
  display: block;
  height: auto;
}

.select-items div {
  padding: 8px 16px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: rgba(162, 124, 97, 0.1);
}

.search-btn:hover {
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.form input::placeholder {
  color: #fff;
}

@media (max-width: 768px) {
  .hero{
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  .hero .hero-text{
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .form {
    padding: 25px;
  }
  .search-btn{
    height: 45px;
  }
}

.destinations {
  padding: 2% 4%;
  width: 100%;
  background-color: #fff;
}
.dest-text{
  margin-bottom: 10px;
}
.destinations-text {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  color: #534439;
}

.destinations-paragraph {
  font-size: 15px;
  color: #C38144;
}

.gallery-thumb {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 5px;
  width: calc(16.66% - 15px);
  height: 280px;
}

.gallery-thumb:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(rgba(221, 196, 170, 0.9));
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease;
}

.gallery-thumb img {
  transform: scale(1.03);
  transition: .3s transform ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.gallery-thumb .gallery-text {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 13px;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: .3s all ease;
  margin-top: 10px;
  width: 100%;

}

.gallery-thumb .gallery-text h3 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
}

.gallery-thumb .gallery-text .location {
  font-size: 12.8px;
  color: #fff;
}

.gallery-thumb:hover {
  z-index: 3;
}

.gallery-thumb:hover h3 {
  color: #ffffff;
}

.gallery-thumb:hover .location {
  color: rgba(255, 255, 255, 0.2);
}

.gallery-thumb:hover img {
  transform: scale(1);
}

.gallery-thumb:hover:after {
  opacity: 1;
  visibility: visible;
}

.gallery-thumb:hover .gallery-text {
  transition-delay: .2s;
  opacity: 1;
  visibility: visible;
}

.gallery-thumb .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}


.gallery::after {
  content: "";
  display: table;
  clear: both;
}

.gallery-thumb .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 5)); 
  z-index: 2;
}

.gallery-thumb:hover .overlay {
  opacity: 1;
}


@media (min-width: 992px) {
  .gallery-thumb {
    width: calc(16.66% - 4px);
  }
}


@media (max-width: 991px) {
  .gallery{
    margin-top: 15px;
  }
  .gallery-thumb {
    width: calc(25% - 4px);
  }
  .gallery-thumb img {
    width: 100%;
    height: auto; 
    object-fit: contain; 
  }
}


@media (max-width: 768px) {
  
  .gallery-thumb {
    width: calc(50% - 4px);
  }

  .destinations-text {
    font-size: 20px;
    margin-top: 15px;
  }
  .destinations-paragraph{
    font-size: 15px;
  }
  .gallery-thumb .gallery-text h3 {
    font-size: 15px;
  }
  
  .gallery-thumb .gallery-text .location {
    font-size: 12.8px;
  }
}

/* For extra small screens */
@media (max-width: 576px) {
  .gallery-thumb {
    width: calc(50% - 3px);
    margin-bottom: 5px;
  }
  }

  
  .did-you-know-section {
    padding: 0% 4%;
    width: 100%;
    position: relative;
    background-color: #FFF;
  }
  
  .did-you-know-content {
    position: relative;
    color: #fff;
    z-index: 1;
    text-align: center;
  }
  
  .did-you-know-content h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .carousel-item h2{
    font-size: 16px;
    font-weight: 400;
  }
  .carousel-item p {
    font-size: 12.8px;
  }

  
.activities {
  padding: 2% 4%;
  background-color: #fff;
}

.activity-text{
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
  font-weight: 500;
  color: #534439;
}

.activity-paragraph{
  color: #C38144;
  font-size: 15px;
}
.activity-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.activity-item {
  border-radius: 2px;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: left; 
}

.activity-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 2px;
}

.activity-item .country{
  color: #000;
  font-size: 12.8px;
  font-weight: 400;
}

.activity-item .activity{
  font-size: 18px;
  font-weight: 600;
  opacity: 90%;
}

.activity-item .price{
  font-size: 18px;
  font-weight: 600;
}
.activity-item .price .price-extra{
  font-size: 12.8px;
  font-weight: 400;
  color: #000;
}



